.standart {
  border-radius: 12px;
}

.sm {
  padding: 12px 12px;
}

.md {
  padding: 28px 50px;
}

.lg {
  padding: 38px 32px;
}

.xl {
  padding: 40px 50px;
}

.main {
  background-color: #1c1e2a;
}

.secondary {
  background-color: #262c3a;
}

.ordinary {
  background-color: #0997ff;
}
