.main {
  background-color: #0997ff;
  color: #ffffff;

  &:hover {
    background-color: #0e89e0;
  }
  &:active {
    background-color: #0c7bca;
  }
}

.secondary {
  background-color: #ffffff;
  color: #0997ff;

  &:hover {
    background-color: #e7e7e7;
  }

  &:active {
    background-color: #c9c9c9;
  }
}

.ordinary {
  background-color: #ffffff;
  color: #212121;

  &:hover {
    background-color: #e7e7e7;
  }

  &:active {
    background-color: #c9c9c9;
  }
}

.transparentWhite {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

.transparentBlue {
  background-color: transparent;
  color: #0997ff;
  border-color: #0997ff;
}
